@import './variables';

html {
  background-color: black;
}

body {
  font-family: 'Open-sans', Helvetica, sans-serif;
  background-color: black;
  color: white;
}

// Bootstrap overrides
.form-control {
  border-radius: 0;
  border: none;
  background-color: $royal;
  color: black;
  font-size: 24px;
  letter-spacing: 0.2rem;
  padding: 3rem;

  &::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
  &:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
  &::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
  &:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
  &::-ms-input-placeholder { color: white; }  /* Microsoft Edge */
}

.btn {
  background-color: transparent;
  border-radius: 0;
  border-width: 2px;
  border-style: solid;
  padding: 16px 36px;
  font-size: 20px;
  letter-spacing: 0.2rem;

  &:hover {
    border-style: solid;
    border-width: 2px;
    color: white;
  }

  &:disabled, &:disabled:hover {
    background-color: transparent;
    opacity: 1;
  }
}

.btn-primary {
  border-color: darken($grass, 5%);
  color: darken($grass, 5%);

  &:hover, &:active:focus {
    background-color: darken($grass, 5%);
    border: 2px solid darken($grass, 5%);
  }

  &:disabled, &:disabled:hover {
    color: $grass;
    border-color: $grass;
  }
}

.btn-default {
  border-color: $rose;
  color: $rose;

  &:hover, &:active:focus, &:focus  {
    background-color: $rose;
    border-color: $rose;
    color: white;
  }
}
