$sky: rgba(18, 184, 255, 1);
$grass: rgba(45, 243, 161, 1);
$rose: rgba(237, 171, 244, 1);
$lemon: rgba(242, 247, 108, 1);
$lilac: rgba(121, 129, 242, 1);

@-webkit-keyframes firstColorChange {
  0% {
    color: $sky;
  }
  50% {
    color: $grass;
  }
  100% {
    color: $rose;
  }
}

@-webkit-keyframes secondColorChange {
  0% {
    color: $rose;
  }
  50% {
    color: $lilac;
  }
  100% {
    color: $grass;
  }
}
